@model IEnumerable<Seminario.Models.Patrimonio>

@{
    ViewBag.Title = "Delictivos Contra el Patrimonio";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LugarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreVictima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calibre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelitoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oficio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Denunciante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreVictima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calibre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delito.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Denunciante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
        </th>
    </tr>
</table>